@import url(https://fonts.googleapis.com/css?family=Archivo|Nunito+Sans|Kanit|Archivo);@charset "UTF-8";
@font-face {
  font-family: UTMAVO;
  src: url("../fonts/utm-avo.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Archivo", sans-serif !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

.card .card-body {
  padding: 0;
}

.card .card-footer {
  padding: 0;
  background-color: inherit;
  border: none;
}

.callback {
  position: fixed;
  left: -30px;
  bottom: -20px;
  z-index: 100;
}

.phone_animation {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  transition: visibility .5s;
  visibility: visible;
  margin: 0 auto;
}

.phone_animation a {
  color: white;
}

.phone_animation_circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.5;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
          animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-color: #00aff2;
}

.phone_animation_circle_fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #00aff2;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .2;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
          animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.phone_animation_circle_fill_img {
  background-size: 70%;
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
          animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-color: #00afef;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  font-size: 30px;
  display: block;
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

.m-category-layout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-category-layout .m-item-category {
  -ms-flex-preferred-size: 160px !important;
      flex-basis: 160px !important;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.m-category-layout .m-item-category .img-category {
  height: 88px;
  width: 88px;
  margin: auto auto 12px;
  border-radius: 50%;
  margin-top: 20px;
}

.m-category-layout .m-item-category .m-item-category-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-category-layout .m-item-category .m-item-category-0 a {
  text-align: center;
}

.m-category-layout .m-item-category .m-item-category-0 a span {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .m-category-layout {
    margin-top: 30px;
  }
}

/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}

.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: white;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s, -webkit-box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
  box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #1ba8ff;
  box-shadow: 0 0 0 #1ba8ff;
}

.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}

.sidebar ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f3f3f3;
}

.sidebar .sidebar-sub-heading {
  border-top: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.sidebar .sidebar-hotline {
  font-size: 16px;
  font-weight: bolder;
  padding: 16px;
  color: #757575;
}

.sidebar .sidebar-hotline .sidebar-number {
  color: #1ba8ff;
}

.sidebar .icon-sidebar {
  width: 56px;
}

.sidebar ul li a {
  color: #757575;
  text-decoration: none;
}

.sidebar .background-sidebar {
  background-image: url(../images/logo/logo_footer.png);
  height: calc(56px*4);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: white;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

#top_line {
  background-color: #f68121;
  width: 100%;
  height: 8px;
}

#top_menu {
  margin-bottom: 6px;
  margin-top: 8px;
  background-position: center right;
  background-size: auto 238%;
  background-repeat: no-repeat;
}

#top_menu ul {
  list-style-type: none;
}

#top_menu ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#top_menu ul li a img {
  width: 138px;
  height: auto;
}

#menu {
  background-color: #f68121;
}

#menu ul {
  list-style-type: none;
}

#menu ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: -3px;
}

#menu ul li a {
  color: white;
  /*font-family: 'Kanit', sans-serif!important;*/
  /*font-weight: 600;*/
  padding: 18px 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

#menu ul li a.active {
  background-color: #144381;
}

#menu ul li a:hover {
  background-color: #144381;
}

#menu ul li:first-child a {
  padding: 18px 22px;
}

#menu p {
  color: white;
  /*font-family: 'Kanit', sans-serif!important;*/
  /*font-weight: 600;*/
  padding: 18px 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

#m_1 .logo-right i {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  font-size: 38px;
  color: #f68121;
  border: 3px solid #f68121;
  text-align: center;
  line-height: 62px;
}

#m_1 .logo-right span {
  color: #5a5958;
  font-size: 14px;
}

#m_1 .logo-right p {
  padding-top: 3px;
  font-size: 16px;
  color: #f68121;
  /*font-weight:bold;*/
}

#h_1 h4 {
  font-size: 15px;
  color: white;
  background-color: #f68121;
  padding: 10px 0px 8px 0px;
  text-align: center;
  /*font-weight: 600;*/
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 20px;
}

#h_1 .items-duan {
  margin-bottom: 30px;
}

#h_1 .items-duan .img-duan {
  width: 200px;
  height: 138px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#h_1 .items-duan .tt-duan {
  padding: 0 26px;
}

#h_1 .items-duan .tt-duan p {
  color: #6f6d6b;
  font-size: 14px;
  min-width: 24%;
  text-align: left;
  margin-bottom: 5px;
}

#h_1 .items-duan .tt-duan p.tt-ngaydangtin {
  margin-top: 6px;
  width: 100%;
  text-align: right;
}

#h_1 .items-duan .tt-duan p.tt-ngaydangtin a {
  color: #144381;
}

#h_1 .items-duan h5 {
  font-family: 'Archivo', sans-serif !important;
  padding-top: 3px;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 12px;
}

#h_1 .items-duan h5 a {
  color: #007bff;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_1 .items-duan h5:hover {
  color: #f68121;
}

@media only screen and (max-width: 800px) {
  #h_1 .items-duan .img-duan {
    width: 90%;
    margin: auto;
    height: 186px;
    margin-bottom: 10px;
  }
}

#pd_1 h1 {
  font-size: 17px;
  color: #1f648b;
  margin-bottom: 6px;
  font-weight: bold;
}

#pd_1 span {
  font-size: 13px;
}

#pd_1 h2.khu-vuc {
  font-size: 14px;
  color: #6b6967;
  padding-top: 10px;
  padding-bottom: 10px;
}

#pd_1 h2.khu-vuc a {
  color: #1f648b;
}

#pd_1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#pd_1 ul li {
  padding: 10px 0px;
  width: 100%;
  border-top: 1px solid #bcbcbc;
  font-size: 14px;
}

#pd_1 .span1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 120px !important;
  text-align: left;
  font-weight: bold;
}

#pd_1 h5 {
  font-weight: bold;
  color: #1f648b;
  margin-bottom: 10px;
}

#pd_1 p {
  font-size: 14px;
  line-height: 20px;
}

#pd_1 .owl-items {
  width: 100%;
  text-align: center;
}

#pd_1 .owl-items .owl-img {
  width: 100%;
  height: auto;
}

#pd_2 h5 {
  font-weight: bold;
  color: #1f648b;
  margin-bottom: 10px;
}

#pd_3 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#pd_3 ul li {
  padding: 10px 0px;
  width: 100%;
  border-top: 1px solid #bcbcbc;
  font-size: 14px;
}

#pd_3 h5 {
  font-weight: bold;
  color: #1f648b;
  margin-bottom: 10px;
}

#pd_3 .span1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 120px !important;
  text-align: left;
  font-weight: bold;
}

#pd_4 h6 {
  font-weight: bold;
  color: #1f648b;
  margin-bottom: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid #1f648b;
}

#pd_4 .items-duan {
  margin-bottom: 30px;
}

#pd_4 .items-duan .img-duan {
  width: 200px;
  height: 138px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#pd_4 .items-duan .tt-duan {
  padding: 0 26px;
}

#pd_4 .items-duan .tt-duan p {
  color: #6f6d6b;
  font-size: 14px;
  min-width: 24%;
  line-height: 18px;
  text-align: left;
  /*margin:1em;*/
}

#pd_4 .items-duan .tt-duan p.p-content {
  margin-bottom: 12px;
  height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#pd_4 .items-duan .tt-duan p.tt-ngaydangtin {
  margin-top: 6px;
  width: 100%;
  text-align: right;
}

#pd_4 .items-duan .tt-duan p.tt-ngaydangtin a {
  color: #144381;
}

#pd_4 .items-duan h5 {
  font-family: 'Archivo', sans-serif !important;
  padding-top: 3px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  padding-bottom: 12px;
}

#pd_4 .items-duan h5 a {
  color: #144381;
  -webkit-transition: .3s;
  transition: .3s;
}

#pd_4 .items-duan h5:hover {
  color: #f68121;
}

@media only screen and (max-width: 800px) {
  #pd_4 .items-duan .img-duan {
    width: 90%;
    margin: auto;
    height: 186px;
    margin-bottom: 10px;
  }
}

#c_2 {
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#c_2 h4 {
  font-size: 18px;
  color: #f68121;
  margin-bottom: 16px;
  margin-top: 16px;
}

#c_2 p {
  line-height: 23px;
  font-size: 16px;
  /*font-weight: bold;*/
}

#c_2 h5 {
  font-size: 20px;
  color: #f68121;
  margin-bottom: 16px;
  margin-top: 16px;
  font-weight: bold;
}

#c_2 .line-break-lh {
  background-color: #f68121;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
}

#c_2 .line-break-lh:after {
  content: '';
  position: absolute;
  width: 0px;
  left: -60px;
  height: 0px;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  border-right: 50px solid #f68121;
  /* Tam giác phải được đổ màu */
}

#c_2 .line-break-lh:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  right: -60px;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  border-left: 50px solid #f68121;
  /* Tam giác trái được đổ màu */
}

#c_2 #form_lienhe input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 15px;
}

#c_2 #form_lienhe textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
}

#c_2 #form_lienhe a {
  background-color: #f68121;
  padding: 10px 16px 8px 16px;
  color: white;
}

#n_2 h4 {
  font-size: 14px;
  color: white;
  background-color: #f68121;
  padding: 10px 0px 8px 0px;
  text-align: center;
  /*font-weight: 600;*/
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 20px;
}

#n_2 .items-duan {
  margin-bottom: 30px;
}

#n_2 .items-duan .img-duan {
  width: 200px;
  height: 138px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#n_2 .items-duan .tt-duan {
  padding: 0 26px;
}

#n_2 .items-duan .tt-duan p {
  color: #6f6d6b;
  font-size: 14px;
  min-width: 24%;
  line-height: 18px;
  text-align: left;
}

#n_2 .items-duan .tt-duan .tintuc-sortcontent p {
  color: #6f6d6b;
  font-size: 14px;
  min-width: 24%;
  line-height: 18px;
  text-align: left;
  /*margin:1em;*/
  margin-bottom: 12px;
  height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#n_2 .items-duan .tt-duan p.tt-ngaydangtin {
  margin-top: 6px;
  width: 100%;
  text-align: right;
}

#n_2 .items-duan .tt-duan p.tt-ngaydangtin a {
  color: #144381;
}

#n_2 .items-duan h5 {
  font-family: 'Archivo', sans-serif !important;
  padding-top: 3px;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 12px;
}

#n_2 .items-duan h5 a {
  color: #007bff;
  -webkit-transition: .3s;
  transition: .3s;
}

#n_2 .items-duan h5 a:hover {
  color: #f68121;
}

#n_2 .drop-sort {
  margin-bottom: 20px;
}

#n_2 .drop-sort p {
  font-size: 14px;
  line-height: 18px;
}

#n_2 .drop-sort p span {
  color: #1f648b;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  #n_2 .items-duan .img-duan {
    width: 90%;
    margin: auto;
    height: 186px;
    margin-bottom: 10px;
  }
}

#p_1 h4 {
  font-size: 14px;
  color: white;
  background-color: #f68121;
  padding: 10px 0px 8px 0px;
  text-align: center;
  /*font-weight: 600;*/
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 20px;
}

#p_1 .drop-sort {
  margin-bottom: 20px;
}

#p_1 .drop-sort p {
  font-size: 14px;
}

#p_1 .drop-sort p span {
  color: #1f648b;
  font-weight: bold;
}

#p_1 .drop-sort select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 20px;
}

#p_1 .items-duan {
  margin-bottom: 30px;
}

#p_1 .items-duan .img-duan {
  width: 200px;
  height: 138px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#p_1 .items-duan .tt-duan {
  padding: 0 26px;
}

#p_1 .items-duan .tt-duan p {
  color: #6f6d6b;
  font-size: 14px;
  min-width: 24%;
  text-align: left;
  margin-bottom: 5px;
}

#p_1 .items-duan .tt-duan p.tt-ngaydangtin {
  margin-top: 6px;
  width: 100%;
  text-align: right;
}

#p_1 .items-duan .tt-duan p.tt-ngaydangtin a {
  color: #144381;
}

#p_1 .items-duan h5 {
  font-family: 'Archivo', sans-serif !important;
  padding-top: 3px;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 12px;
}

#p_1 .items-duan h5 a {
  color: #007bff;
  -webkit-transition: .3s;
  transition: .3s;
}

#p_1 .items-duan h5 a:hover {
  color: #f68121;
}

@media only screen and (max-width: 800px) {
  #p_1 .items-duan .img-duan {
    width: 90%;
    margin: auto;
    height: 186px;
    margin-bottom: 10px;
  }
}
