#top_line {
  background-color: #f68121;
  width: 100%;
  height: 8px;
}

#top_menu {
  margin-bottom: 6px;
  margin-top: 8px;
  background-position: center right;
  background-size: auto 238%;
  background-repeat: no-repeat;
  ul {
    list-style-type: none;
    li {
      display: inline-flex;
      a img {
        width: 138px;
        height: auto;
      }
    }
  }
}

#menu {
  background-color: #f68121;
  ul {
    list-style-type: none;
    li {
      display: inline-flex;
      margin-right: -3px;
      a {
        color: white;
        /*font-family: 'Kanit', sans-serif!important;*/
        /*font-weight: 600;*/
        padding: 18px 14px;
        transition: .3s;
        &.active {
          background-color: #144381;
        }
        &:hover {
          background-color: #144381;
        }
      }

      &:first-child a {
        padding: 18px 22px;
      }

    }
  }
  p {
    color: white;
    /*font-family: 'Kanit', sans-serif!important;*/
    /*font-weight: 600;*/
    padding: 18px 14px;
    transition: .3s;
  }
}

#m_1 {
  .logo-right {
    i {
      width: 68px;
      height: 68px;
      border-radius: 50%;
      font-size: 38px;
      color: #f68121;
      border: 3px solid #f68121;
      text-align: center;
      line-height: 62px;
    }
    span {
      color: #5a5958;
      font-size: 14px;
    }
    p {
      padding-top: 3px;
      font-size: 16px;
      color: #f68121;
      /*font-weight:bold;*/
    }
  }
}
